
<div class="container">
	<div class="row">
		<div class="col-lg-2">
			<p>
			<h3 ng-hide="editStatus">Search</h3>
			<h3 ng-show="editStatus">Edit</h3>

			<div class="form-group">
				<label for="inputEmail">File name</label> 
				<input type="text" class="form-control" ng-model="file.fileName" placeholder="File name1">

			</div>

			<div ng-hide="editStatus" class="form-group"
				ng-controller="StartdateCtrl">
				<label for="inputEmail">Start Date</label>
				<p class="input-group">

					<input type="text" class="form-control"
						datepicker-popup="dd-MM-yyyy" ng-model="$parent.file.startDate"
						is-open="opened" min-date="'2010-01-01'" max-date="maxDate"
						datepicker-options="dateOptions"
						date-disabled="disabled(date, mode)" ng-required="false"
						close-text="Close" /> <span class="input-group-btn">
						<button type="button" class="btn btn-default"
							ng-click="open($event)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</p>
			</div>

			<div ng-hide="editStatus" class="form-group"
				ng-controller="EnddateCtrl">
				<label for="inputEmail">End Date</label>
				<p class="input-group">

					<input type="text" class="form-control"
						datepicker-popup="dd-MM-yyyy" ng-model="$parent.file.endDate"
						is-open="opened" min-date="'2010-01-01'" max-date="maxDate"
						datepicker-options="dateOptions"
						date-disabled="disabled(date, mode)" ng-required="false"
						close-text="Close" /> <span class="input-group-btn">
						<button type="button" class="btn btn-default"
							ng-click="open($event)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</p>
			</div>




			<!--  			<div class="form-group">
					<label for="inputEmail">Tag2</label> <input type="text"
						class="form-control" ng-model="tag2" placeholder="Tag2">
				</div>
				<div class="form-group">
					<label for="inputEmail">Tag3</label> <input type="text"
						class="form-control" ng-model="tag3" placeholder="Tag3">
				</div>  -->


			<!-- Tag input -->
			<form ng-submit="addTag()">

				<label for="inputEmail">Tags</label>
				<div class="input-group">

					<input type="text" ng-model="tag" placeholder="tag"
						class="form-control" required="true"> <span
						class="input-group-btn"> 
						<input type="submit" class="btn btn-success" value="Add">
					</span>
				</div>

			</form>
			<p></p>

			<!-- Tag list -->
			<div ng-model="file.tags">
				<p class="input-group" ng-repeat="tag in file.tags track by $index"
					style="padding: 5px 10px; cursor: move;">
					<input type="text" ng-model="file.tags[$index]" class="form-control" ng-change = changeTag($index)> <span
						class="input-group-btn">
						<button class="btn btn-danger" ng-click="removeTag($index)"
							aria-label="Remove">X</button>
					</span>
				</p>
			</div>



			<p>
				<button ng-hide="editStatus" type="submit" class="btn btn-primary"
					role="button" ng-click="submit()">submit</button>
				<button ng-hide="editStatus" type="submit" class="btn btn-danger"
					role="button" ng-click="clear()">clear</button>
			</p>
			<button ng-show="editStatus" type="submit" class="btn btn-primary"
				ng-click="update()">update</button>

			</p>
		</div>
		<div class="col-lg-10">
			<p>
			<p>
				<strong>Page:</strong> {{tableParams.page()}}
			</p>
			<p>
				<strong>Count per page:</strong> {{tableParams.count()}}
			</p>

			<table ng-table="tableParams" class="table">
				<tr ng-repeat="file in $data" ng-init='tags = getTag(file)'>
					<td data-title="'Index'">{{$index + 1}}</td>
					<td data-title="'File Name'">{{file.fileName}}</td>
					<td data-title="'Date'">{{file.docDate | date:'dd-MM-yyyy'}}</td>
					<td data-title="'Tags'">
						<table ng-repeat="tag in tags track by $index">
							<td>{{tag}}</td>
						</table>
					</td>




					<td><a href="/homearchive/rs/findFiles/{{file.id}}"
						class="glyphicon glyphicon-save btn btn-default btn-md"></a> <span
						class="glyphicon glyphicon-remove btn btn-default btn-md"
						ng-click="remove(file)"></span> <span
						class="glyphicon glyphicon-pencil btn btn-default btn-md"
						ng-click="edit(file)"></span></td>
				</tr>
			</table>
			</p>
		</div>
	</div>











</div>
