

  <form class="form-signin" role="form">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="username" class="sr-only">Email address</label>
    <input type="text" id="username" class="form-control" placeholder="User name" ng-model="username" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password" ng-model="password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me" ng-model="rememberMe"> Remember me
      </label>
    </div>
    <div ng-show= "error === 401"class="alert alert-danger" role="alert">Login Failed. Check credentials
	</div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Sign in</button>
  </form>


