
	 <p><strong>Page:</strong> {{tableParams.page()}}</p>
        <p><strong>Count per page:</strong> {{tableParams.count()}}</p>
        
        <table ng-table="tableParams" class="table">
        <tr ng-repeat="file in $data">
            <td data-title="'File Name'">{{file.fileName}}</td>
            <td data-title="'Date'">{{file.docDate}}</td>
             <td data-title="'Tags'">{{file.tags}}</td>
        </tr>
        </table>
	<ul>
		
		<li ng-repeat="file in files">
		{{file.fileName}}
			<p>{{file.date}}</p>
			<p>{{file.tags}}</p>
		</li>
	</ul>


