
<div class="container">
	<div class="row">
		<div class="col-lg-2">
			<p>
			<form action>
				<div class="form-group">
					<label for="inputEmail">File name</label> <input type="text"
						class="form-control" ng-model="fileName" placeholder="File name1">
				</div>
				<div class="form-group">
					<label for="inputEmail">Start Date</label> <input type="text"
						class="form-control" ng-model="search.startDate"
						placeholder="Start Date1">
				</div>
				<div class="form-group">
					<label for="inputEmail">End date </label> <input type="text"
						class="form-control" ng-model="search.endDate"
						placeholder="End date">
				</div>
				<div class="form-group">
					<label for="inputEmail">Tag1</label> <input type="text"
						class="form-control" ng-model="search.tag1" placeholder="Tag1">
				</div>
				<div class="form-group">
					<label for="inputEmail">Tag2</label> <input type="text"
						class="form-control" ng-model="search.tag2" placeholder="Tag2">
				</div>
				<div class="form-group">
					<label for="inputEmail">Tag3</label> <input type="text"
						class="form-control" ng-model="search.tag3" placeholder="Tag3">
				</div>


				<button type="submit" class="btn btn-primary" ng-click="submit()">submit</button>
			</form>
			</p>
		</div>
		<div class="col-lg-10">
			<p>
			<p>
				<strong>Page:</strong> {{tableParams.page()}}
			</p>
			<p>
				<strong>Count per page:</strong> {{tableParams.count()}}
			</p>

			<table ng-table="tableParams" class="table">
				<tr ng-repeat="file in $data" ng-init='tags = getTag(file)'>
				<td data-title="'Index'">{{$index + 1}}</td>
					<td data-title="'File Name'">{{file.fileName}}</td>
					<td data-title="'Date'">{{file.docDate | date:'dd-MM-yyyy'}}</td>
					<td data-title="'Tags'" ng-repeat="tag in tags">{{tag}}</td>
					<td>
						
					<!--  		<span class="glyphicon glyphicon-save"></span> -->
						<a href="/homearchive/rs/findFiles/{{file.id}}" 
						class="glyphicon glyphicon-save btn btn-default btn-md"></a>
						
						<span class="glyphicon glyphicon-remove btn btn-default btn-md" 
						ng-click="remove(file)"></span>
							
							<span class="glyphicon glyphicon-pencil btn btn-default btn-md" ng-click="edit()"></span>
						
					</td>
				</tr>
			</table>
			</p>
		</div>